/** i need to learn faster **/
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #2a2a2a;
	font-size: 14px;
}

/** navigation **/
.navigation{
	background-color: #262626;
	height: 80px;
}

.navigation .logo{
	color: #fff;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 15px;
	padding: 15px 15px 15px 35px;
}
.navigation ul{
	float: right;
	font-family: Arial;
	font-size: 14px
	font-weight: bold;
	padding: 15px 35pc 15px 15px;
	margin-top: 20px
}